body {
    background-image: url("/img/geometry2.png");
}
.demo .row .col {
    background-color: #eee;
}
.demo .row .col:nth-child(even) {
    background-color: #ddd;
}
.docs {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.summary a {
    color: #41403e;
}
