html {
  @include color('color', 'primary');
  font-family: $body-font, sans-serif;
  font-size: $global-font-size;
}

p,
a,
button,
table,
thead,
tbody,
th,
tr,
td,
input,
textarea,
select,
option {
  font-family: $body-font, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
