article {
  .article-title {
    font-size: 3rem;
  }

  .article-meta {
    @include color(color, 'muted-text');
    font-size: 15px;

    a {
      @include color(color, 'muted-text');
      background-image: none;

      &:hover {
        @include color(color, 'light-dark');
      }
    }
  }

  .text-lead {
    font-size: 30px;
    line-height: 1.3;
    margin: 35px;
  }

  button {
    &:not(:first-of-type) {
      margin-left: 2rem;
      @include resp(xs) {
        margin-left: 0;
      }
    }
  }

  p {
    line-height: 1.6;
  }
}
