@import 'colors';
@import 'borders';

.badge {
  @extend .border;
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: $muted;
  color: $white;
  border-color: transparent;
}

@each $colorName, $color in $colors {
  .badge.#{$colorName} {
    background-color: $color;
  }
}
