// html, body {
//   margin: 40px 0;
//   padding: 0;
// }

nav {
  display: flex;
  z-index: 100;
  width: 100%;
  background-color: $main-background;
  padding: .3rem;

  @include resp(small) {
    display: block;
  }

  .bar1, .bar2, .bar3 {
    width: 2rem;
    height: .3rem;
    background-color: $primary;
    margin: 6px 0;
    transition: 0.4s;
  }

  .collapsible input[id^=collapsible]:checked + button {
    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 7px);
      transform: rotate(-45deg) translate(-9px, 7px);
    }
    .bar2 {
      opacity: 0;
    }
    .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -9px);
      transform: rotate(45deg) translate(-8px, -9px);
    }
  }

  &.split-nav {
    justify-content: space-between;
  }
  &.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  div {
    margin: 0 1rem;
  }
  ul.inline {
    padding: 0;
    margin-bottom: 0;
    margin-top: 10px;
  }
  ul.inline li {
    display: inline-block;
    margin: 0 .5rem;

    @include resp(small) {
      display: block;
      margin: 1rem 0;
    }
  }
  a {
    padding-bottom: .1rem;
    background-image: none;
    border-bottom: 5px solid $primary;
    border-bottom-left-radius: 15px 3px;
    border-bottom-right-radius: 15px 5px;
    color: $primary;
  }
  a:hover {
    border-bottom: 5px solid $primary-light;
  }
  ul.inline li a {
    font-size: 1.3rem;
  }
  ul.inline li:before {
    content: "";
  }
  ul {
    @include resp(medium) {
      text-align: center;
    }
  }
  .nav-brand {
    h1, h2, h3,
    h4, h5, h6, {
      margin: 0;
      margin-bottom: .2rem;
    }
  }

  .collapsible input[id^=collapsible]:checked ~ div.collapsible-body {
    opacity: 1;
    max-height: 960px;
    padding: 0;
    margin: 0;
  }
  .collapsible:nth-of-type(1),
  .collapsible .collapsible-body {
    border: none;

    @include resp(null, $small-screen) {
      display: contents !important;
    }
  }
  div.collapsible-body {
    padding: none !important;
  }
  .collapsible label {
    padding: 0;
    border-bottom: none;
  }
  .btn-mobile {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1.5rem;
    // margin-top: 1rem;
    margin-top: .01rem;
    display: none;
    background-color: $main-background;

    @include resp(small) {
      display: block !important;
    }
  }
}
