$base: 1rem;
$large: 2rem;
$small: 0.5rem;

.margin {
  margin: $base;

  &-top {
    margin-top: $base !important;

    &-large {
      margin-top: $large !important;
    }

    &-small {
      margin-top: $small !important;
    }

    &-none {
      margin-top: 0 !important;
    }
  }

  &-right {
    margin-right: $base !important;

    &-large {
      margin-right: $large !important;
    }

    &-small {
      margin-right: $small !important;
    }

    &-none {
      margin-right: 0 !important;
    }
  }

  &-bottom {
    margin-bottom: $base !important;

    &-large {
      margin-bottom: $large !important;
    }

    &-small {
      margin-bottom: $small !important;
    }

    &-none {
      margin-bottom: 0 !important;
    }
  }

  &-left {
    margin-left: $base !important;

    &-large {
      margin-left: $large !important;
    }

    &-small {
      margin-left: $small !important;
    }

    &-none {
      margin-left: 0 !important;
    }
  }

  &-large {
    margin: $large;
  }

  &-small {
    margin: $small;
  }

  &-none {
    margin: 0;
  }
}

.padding {
  padding: $base;

  &-top {
    padding-top: $base !important;

    &-large {
      padding-top: $large !important;
    }

    &-small {
      padding-top: $small !important;
    }

    &-none {
      padding-top: 0 !important;
    }
  }

  &-right {
    padding-right: $base !important;

    &-large {
      padding-right: $large !important;
    }

    &-small {
      padding-right: $small !important;
    }

    &-none {
      padding-right: 0 !important;
    }
  }

  &-bottom {
    padding-bottom: $base !important;

    &-large {
      padding-bottom: $large !important;
    }

    &-small {
      padding-bottom: $small !important;
    }

    &-none {
      padding-bottom: 0 !important;
    }
  }

  &-left {
    padding-left: $base !important;

    &-large {
      padding-left: $large !important;
    }

    &-small {
      padding-left: $small !important;
    }

    &-none {
      padding-left: 0 !important;
    }
  }

  &-large {
    padding: $large;
  }

  &-small {
    padding: $small;
  }

  &-none {
    padding: 0;
  }
}
