/* LineTableTD */
.chroma .lntd {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

/* LineTable */
.chroma .lntable {
  border: 0;
  border-spacing: 0;
  display: block;
  margin: 0;
  overflow: auto;
  padding: 0;
  width: auto;
}

/* LineHighlight */
.chroma .hl {
  background-color: #ffc;
  display: block;
  width: 100%;
}

/* LineNumbersTable */
.chroma .lnt {color: #7f7f7f;
  margin-right: 0.4em;
  padding: 0 0.4em;
}

/* LineNumbers */
.chroma .ln {color: #7f7f7f;
  margin-right: 0.4em;
  padding: 0 0.4em;
}

/* Keyword */
.chroma .k {
  color: #a2f;
  font-weight: bold;
}

/* KeywordConstant */
.chroma .kc {
  color: #a2f;
  font-weight: bold;
}

/* KeywordDeclaration */
.chroma .kd {
  color: #a2f;
  font-weight: bold;
}

/* KeywordNamespace */
.chroma .kn {
  color: #a2f;
  font-weight: bold;
}

/* KeywordPseudo */
.chroma .kp {
  color: #a2f;
}

/* KeywordReserved */
.chroma .kr {
  color: #a2f;
  font-weight: bold;
}

/* KeywordType */
.chroma .kt {
  color: #0b0;
  font-weight: bold;
}

/* NameAttribute */
.chroma .na {
  color: #b44;
}

/* NameBuiltin */
.chroma .nb {
  color: #a2f;
}

/* NameClass */
.chroma .nc {
  color: #00f;
}

/* NameConstant */
.chroma .no {
  color: #800;
}

/* NameDecorator */
.chroma .nd {
  color: #a2f;
}

/* NameEntity */
.chroma .ni {
  color: #999;
  font-weight: bold;
}

/* NameException */
.chroma .ne {
  color: #d2413a;
  font-weight: bold;
}

/* NameFunction */
.chroma .nf {
  color: #00a000;
}

/* NameLabel */
.chroma .nl {
  color: #a0a000;
}

/* NameNamespace */
.chroma .nn {
  color: #00f;
  font-weight: bold;
}

/* NameTag */
.chroma .nt {
  color: #008000;
  font-weight: bold;
}

/* NameVariable */
.chroma .nv {
  color: #b8860b;
}

/* LiteralString */
.chroma .s {
  color: #b44;
}

/* LiteralStringAffix */
.chroma .sa {
  color: #b44;
}

/* LiteralStringBacktick */
.chroma .sb {
  color: #b44;
}

/* LiteralStringChar */
.chroma .sc {
  color: #b44;
}

/* LiteralStringDelimiter */
.chroma .dl {
  color: #b44;
}

/* LiteralStringDoc */
.chroma .sd {
  color: #b44;
  font-style: italic;
}

/* LiteralStringDouble */
.chroma .s2 {
  color: #b44;
}

/* LiteralStringEscape */
.chroma .se {
  color: #b62;
  font-weight: bold;
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: #b44;
}

/* LiteralStringInterpol */
.chroma .si {
  color: #b68;
  font-weight: bold;
}

/* LiteralStringOther */
.chroma .sx {
  color: #008000;
}

/* LiteralStringRegex */
.chroma .sr {
  color: #b68;
}

/* LiteralStringSingle */
.chroma .s1 {
  color: #b44;
}

/* LiteralStringSymbol */
.chroma .ss {
  color: #b8860b;
}

/* LiteralNumber */
.chroma .m {
  color: #666;
}

/* LiteralNumberBin */
.chroma .mb {
  color: #666;
}

/* LiteralNumberFloat */
.chroma .mf {
  color: #666;
}

/* LiteralNumberHex */
.chroma .mh {
  color: #666;
}

/* LiteralNumberInteger */
.chroma .mi {
  color: #666;
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: #666;
}

/* LiteralNumberOct */
.chroma .mo {
  color: #666;
}

/* Operator */
.chroma .o {
  color: #666;
}

/* OperatorWord */
.chroma .ow {
  color: #a2f;
  font-weight: bold;
}

/* Comment */
.chroma .c {
  color: #080;
  font-style: italic;
}

/* CommentHashbang */
.chroma .ch {
  color: #080;
  font-style: italic;
}

/* CommentMultiline */
.chroma .cm {
  color: #080;
  font-style: italic;
}

/* CommentSingle */
.chroma .c1 {
  color: #080;
  font-style: italic;
}

/* CommentSpecial */
.chroma .cs {
  color: #080;
  font-weight: bold;
}

/* CommentPreproc */
.chroma .cp {
  color: #080;
}

/* CommentPreprocFile */
.chroma .cpf {
  color: #080;
}

/* GenericDeleted */
.chroma .gd {
  color: #a00000;
}

/* GenericEmph */
.chroma .ge {
  font-style: italic;
}

/* GenericError */
.chroma .gr {
  color: #f00;
}

/* GenericHeading */
.chroma .gh {
  color: #000080;
  font-weight: bold;
}

/* GenericInserted */
.chroma .gi {
  color: #00a000;
}

/* GenericOutput */
.chroma .go {
  color: #888;
}

/* GenericPrompt */
.chroma .gp {
  color: #000080;
  font-weight: bold;
}

/* GenericStrong */
.chroma .gs {
  font-weight: bold;
}

/* GenericSubheading */
.chroma .gu {
  color: #800080;
  font-weight: bold;
}

/* GenericTraceback */
.chroma .gt {
  color: #04d;
}

/* GenericUnderline */
.chroma .gl {
  text-decoration: underline;
}

/* TextWhitespace */
.chroma .w {
  color: #bbb;
}

