@import './colors.less';
@import './borders.less';

.badge {
  .border;

  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: @muted;
  color: white;
  border-color: transparent;
}

.make-badge-color-classes(@i: length(@colors)) when (@i > 0) {
  .make-badge-color-classes(@i - 1);
  @color: extract(@colors, @i);
  .badge.@{color} {
    background-color: @@color;
  }
}

.make-badge-color-classes();
