@import './colors.less';

.border {
    border: 2px solid @primary;
}
.border, .border-1, .child-borders > *:nth-child(6n+1) {
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
}
.border-2, .child-borders > *:nth-child(6n+2) {
    border-top-left-radius: 125px 25px;
    border-top-right-radius: 10px 205px;
    border-bottom-right-radius: 20px 205px;
    border-bottom-left-radius: 185px 25px;
}
.border-3, .child-borders > *:nth-child(6n+3) {
    border-top-left-radius: 15px 225px;
    border-top-right-radius: 255px 15px;
    border-bottom-left-radius: 225px 15px;
    border-bottom-right-radius: 15px 255px;
}
.border-4, .child-borders > *:nth-child(6n+4) {
    border-top-left-radius: 15px 225px;
    border-top-right-radius: 25px 150px;
    border-bottom-left-radius: 25px 115px;
    border-bottom-right-radius: 155px 25px;
}
.border-5, .child-borders > *:nth-child(6n+5) {
    border-top-left-radius: 250px 15px;
    border-top-right-radius: 25px 80px;
    border-bottom-left-radius: 20px 115px;
    border-bottom-right-radius: 15px 105px;
}
.border-6, .child-borders > *:nth-child(6n+6) {
    border-top-left-radius: 28px 125px;
    border-top-right-radius: 100px 30px;
    border-bottom-right-radius: 20px 205px;
    border-bottom-left-radius: 15px 225px;
}
.child-borders > * {
    border: 2px solid @primary;
}
.border-white {
    border-color: @white;
}
.border-dotted {
    border-style: dotted;
}
.border-dashed {
    border-style: dashed;
}
.border-thick {
    border-width: 5px;
}

.make-border-color-classes(@i: length(@colors)) when (@i > 0) {
    .make-border-color-classes(@i - 1);
    @color: extract(@colors, @i);
    .border-@{color} {
        border-color: @@color;
    }
}

.make-border-color-classes();
