@primary: #41403E;
@secondary: #0071DE;

@success: #86a361;
@warning: #ddcd45;
@danger: #a7342d;
@muted: #868e96;

@primary-light: lighten(@primary, 50%);
@secondary-light: lighten(@secondary, 50%);
@success-light: lighten(@success, 30%);
@warning-light: lighten(@warning, 30%);
@danger-light: lighten(@danger, 45%);
@muted-light: lighten(@muted, 35%);

@white-dark: rgba(0, 0, 0, 0.03);
@light-dark: rgba(0, 0, 0, 0.7);
@white: rgba(255, 255, 255, 1);
@main-background: rgba(255, 255, 255, 1);

@primary-text: #FFF;
@secondary-text: @primary;
@success-text: @primary;
@warning-text: @primary;
@danger-text: @primary;
@muted-text: @primary;

@colors: primary, secondary, success, warning, danger, muted;

.make-text-color-classes(@i: length(@colors)) when (@i > 0) {
    .make-text-color-classes(@i - 1);
    @color: extract(@colors, @i);
    .text-@{color} {
        color: @@color;
    }
    .background-@{color}{
        background-color: ~"@{@{color}-light}";
    }
}

.make-text-color-classes();
