ol {
    list-style-type: decimal;
    ol {
        list-style-type: upper-alpha;
        ol {
            list-style-type: upper-roman;
            ol {
                list-style-type: lower-alpha;
                ol {
                    list-style-type: lower-roman;
                }
            }
        }
    }
}
.li-bullet(@char) {
    li:before {
        content: @char;
    }
}
ul {
    list-style: none;
    margin-left: 0;
    li {
        text-indent: -7px;
    }
    li:before {
        position: relative;
        left: -7px;
    }
    .li-bullet("-");
    ul {
        .li-bullet("+");
        ul {
            .li-bullet("~");
            ul {
                .li-bullet("⤍");
                ul {
                    .li-bullet("⁎")
                }
            }
        }
    }
    &.inline li{
        display: inline;
        margin-left: 5px;
    }
}