.paper-navbar {
  display:block;
  margin-top: 0px;
  margin-left: 0px;
}
.paper-nav li:not(:first-child) {
  margin-top:30px;
}
.paper-nav li:before {
  content: ""
}
.hidden {
  display: none;
}
.paper-nav li {
  display: inline-block;
  margin-right: 8px;
}
.home-icon:after {
  content:"Home";
}
.show-menu {
  display:none;
  float: right;
}
.menu-checkbox{
    display: none;
}
.menu-checkbox:checked ~ #menu{
    display: block;
}

/*Responsive Styles*/
@media screen and (max-width : 760px){
  .home-icon {
    background-image: url('../img/home_ic.png');
    background-repeat: no-repeat;
    background-position: 4px 4px;
    width: 64px;
    background-size: 24px 24px;
  }
  .home-icon:after {
    white-space: pre;
    content: "   ";
  }
    .paper-nav {
        position: static;
        display: none;
    }
    .paper-nav li {
        margin-bottom: 1px;
        display: block;
    }
    .show-menu {
        display:block;
    }
}
